services:
  identity-api:
    container_name: identity-api
    build:
      context: .
      dockerfile: Identity.Api/Dockerfile
    ports:
      - "5001:5001"
    depends_on:
      - identity-postgres-database
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
      ConnectionStrings__DefaultConnection: "Host=identity-postgres;Port=5432;Database=identitydb;Username=identityuser;Password=YourStrongPassword"
      Audience__0: "https://localhost:7001"
      Issuer: "https://localhost:7001"
    restart: always

  identity-postgres-database:
    container_name: identity-postgres
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: identityuser
      POSTGRES_PASSWORD: YourStrongPassword
      POSTGRES_DB: identitydb
    ports:
      - "5432:5432"
    volumes:
      - identity_pgdata:/var/lib/postgresql/data

volumes:
  identity_pgdata:
